@import "../normal-mode.scss";

#nav-wrapper {
    display:flex;
    align-items: center;

    @media (max-width:$mobile){
        flex-direction: column;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 50vh 50vw;

    @media (max-width: $mobile){
        gap: 0
    }

}

#eric-photo {
    height: 60vh;

    @media (max-width:$mobile){
        height:30vh;
        margin-top:10px;
    }

}

@keyframes translateHead {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes translateHeadMobile {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0)
    }
}

.translateHead {
    animation: 3.5s translateHead infinite ease-in-out;
}

.translateHeadMobile {
    animation: 3.5s translateHeadMobile infinite ease-in-out;
}