<ng-template #navButton let-text="text" let-link="link">

    @if (text != 'Resume'){
        <button class="nav-button" [routerLink]="link"> {{ text }} </button>
    }
    @else {
        <a style="text-decoration: none; color:black;" href="assets/resume/resume.pdf" target="_blank">
            <button class="nav-button">
                {{ text }}
            </button> 
        </a>
    }
</ng-template>

<ng-template #head let-anim="anim">
    <img id="eric-photo" 
        class="{{ anim }}"
        src="/assets/img/eric_photo_head_32px.png"/>
</ng-template>


<div id="nav-wrapper">

    @if(displayMobileLayout()){
        <ng-container *ngTemplateOutlet="head; context: {anim: 'translateHeadMobile'}"></ng-container>
    }
    <nav>

        <ul>
            <li>
                <ng-container *ngTemplateOutlet="navButton; context: {text: 'Who am I?', link:'/normal/about'}"></ng-container>
            </li>
            <li>
                <ng-container *ngTemplateOutlet="navButton; context: {text: 'Projects', link:'/normal/projects'}"></ng-container>
            </li>
        </ul>
    </nav>
    
    @if(!displayMobileLayout()){
        <ng-container *ngTemplateOutlet="head; context: {anim: 'translateHead'}"></ng-container>
    }
    
    <nav>
        <ul>
            <li>
                <ng-container *ngTemplateOutlet="navButton; context: {text: 'Contact', link:'/normal/contact'}"></ng-container>
            </li>
            <li>
                <ng-container *ngTemplateOutlet="navButton; context: {text: 'Resume'}"></ng-container>
            </li>
            
        </ul>
    </nav>  
</div>


