<nav>
    <ul>
        <li>
            <a class="link" routerLink="/text/" routerLinkActive="active"> Home</a>
        </li>
        <li>
            <a class="link" routerLink="/text/about" routerLinkActive="active"> Who am I 🤔</a>
        </li>
        <li>
            <a class="link" routerLink="/text/projects" routerLinkActive="active" >Projects 🛠️</a>
        </li>
        <li>
            <a class="link">My Resume</a>
        </li>
        <li>
            <a class="link" routerLink="/text/contact" routerLinkActive="active" >Contact</a>
        </li>
    </ul>
</nav>  
