@import "../text-mode.scss";

#nav-wrapper {
    display:flex;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 50vh 50vw;
}

#eric-photo {
    height: 60vh
}

@keyframes translateHead {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0)
    }

    
}

.translateHead {
    animation: 3.5s translateHead infinite ease-in-out;
}