<nav>
    <ul>
        <li>
            <a class="link" (click)="emitPageSignal($event)" routerLink="/text/about" routerLinkActive="active"> Who am I</a>
        </li>
        <li>
            <a class="link" (click)="emitPageSignal($event)" routerLink="/text/projects" routerLinkActive="active" >Projects</a>
        </li>
        <li>
            <a class="link" (click)="emitPageSignal($event)" routerLink="/text/contact" routerLinkActive="active" >Contact</a>
        </li>
        <li>
            <a class="link">My Resume (PDF)</a>
        </li>
        
    </ul>
</nav>  
