<ng-template #navButton let-text="text" let-link="link">

    @if (text != 'Resume (PDF)'){
        <button class="nav-button" [routerLink]="link"> {{ text }} </button>
    }
    @else {
        <a style="text-decoration: none; color:black;" href="assets/resume/resume.pdf" target="_blank">
            <button class="nav-button">
                {{ text }}
            </button> 
        </a>
    }
</ng-template>


<div id="nav-wrapper">
    <nav>
        <ul>
            <li>
                <ng-container *ngTemplateOutlet="navButton; context: {text: 'Who am I?', link:'/text/about'}"></ng-container>
            </li>
            <li>
                <ng-container *ngTemplateOutlet="navButton; context: {text: 'Projects', link:'/text/projects'}"></ng-container>
            </li>
        </ul>
    </nav>
    
    <img id="eric-photo" class="translateHead" src="/assets/img/eric_photo_head_32px.png"/>
    
    <nav>
        <ul>
            <li>
                <ng-container *ngTemplateOutlet="navButton; context: {text: 'Contact', link:'/text/contact'}"></ng-container>
            </li>
            <li>
                <ng-container *ngTemplateOutlet="navButton; context: {text: 'Resume (PDF)'}"></ng-container>
            </li>
            
        </ul>
    </nav>  
</div>


