#nav-wrapper {
    display:flex;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 50vh 50vw;
}

.nav-button {
    cursor: pointer;
    height:75px;
    width:100px;

}

#eric-photo {
    height: 60vh
}

@keyframes translateHead {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(20px)
    }

    50% {
        transform: translateY(-20px);
    }

    
}

.translateHead {
    animation: 3s translateHead infinite;
}