@import "http://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css";

$term-bg-color: #2f3136;
$term-border-color:lightblue;
$term-input-color: #e09888 ;
$term-response-color:#ffff;
$term-valid-command-color:#c6e8a9;
$term-prefix-color: rgb(94, 129, 172);
$term-domain-color: rgb(163, 190, 140);
$term-symbol-color: rgb(136, 192, 208);

@mixin text-format() {
    font-size: 1rem;
    font-family: "Hack", monospace;
    margin-bottom:8px;
}



