@import "../nerd-mode.scss";

input {
    @include text-format();
    background-color: $term-bg-color;
    border: none;
    width:65vw;
    overflow-x:auto;


    &:focus {
        outline: none;
    }
}

.prompt-wrapper {
    @include text-format();
    font-weight: 600;
    display:flex;
    flex-wrap: wrap;
}

.prefix {
    color: $term-prefix-color;
}
.domain {
    color: $term-domain-color;
}
.symbol {
    color: $term-symbol-color;
}
.tilde {
    margin: 0 7px 0 7px;
}

.valid-command {
    color: $term-valid-command-color;
}

.invalid-command {
    color:$term-input-color;
}