<div class="cards-wrapper">
    @for(repo of repos; track repo){

     <div class="repo-card">

        <h3>{{ repo.name }}</h3>
        <p>{{ repo.description }}</p>

        <div class="sub-content">

            <div class="language"> 

                {{ repo.language }}
            </div>

            <div class="stars"> 
                <img src="assets/icons/star-svgrepo-com.png">
                {{ repo.stargazers_count }}
            </div>

            <div class="forks">
                <img src="assets/icons/git-branch-svgrepo-com.png">
                {{ repo.forks }}
            </div>

        </div>

     </div>
    }

</div>

