<div class="cards-wrapper">
    @for(project of projects; track project){
        <div class="card">
            <div class="project-wrapper">
    
                <div>
                    <strong>Title: </strong> <span class="project-title">{{ project.title }}</span>
                </div>
    
                <div class="project-desc">
                   <strong>Description: </strong> <p>{{ project.desc }}</p>
                </div>

                <div><strong>Github: </strong><a href="{{ project.link }}" target="_blank">Link</a></div>
    
            </div>
        </div>
    }

</div>

