<div class="cards-wrapper">
    @for(repo of repos; track repo){

     <a class="repo-card" href="{{repo.html_url}}" target="_blank">

        <div class="name">
            <img src="assets/icons/book-2-svgrepo-com.png">
            <h3>{{ repo.name }}</h3>
        </div>
        
        
        <p>{{ repo.description }}</p>

        <div class="sub-content">

            <div class="language"> 
                <img src="{{iconMapping[repo.language]}}">
                {{ repo.language }}
            </div>

            <div class="stars"> 
                <img src="assets/icons/star-svgrepo-com.png">
                {{ repo.stargazers_count }}
            </div>

            <div class="forks">
                <img src="assets/icons/git-branch-svgrepo-com.png">
                {{ repo.forks }}
            </div>

        </div>

     </a>
    }

</div>

