#nav-wrapper {
    background-color: #575a6e;
    position:sticky;
}

nav {
    display:flex;
    gap:10px;
    justify-content: center;
    background-color: lightpink;
    position:sticky;
    top:0;
    margin:0 10% 0 10%;
    padding: 20px 0 20px 0;
}