@import '../../../../styles.scss';


#nav-wrapper {
    display:flex;
    flex-direction:column;
    align-items:center
}

.pixel-font {
    @include pixel-font();
    font-size: 1.3rem;
}

.hack-font {
    font-family: "Hack", monospace;
    font-size: 1.1rem;
}


nav {
    display:flex;
    gap:10px;
    justify-content: center;
    background-color: rgb(225, 230, 237, 0.5);
    border-radius: 30px;
    padding: 20px;

    @media screen and (max-width:903px) {
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width:490px) {
        text-align: center;

    }

}

