@import '../../../../styles.scss';


#nav-wrapper {
    display:flex;
    flex-direction:column;
    align-items:center
}

.pixel-font {
    @include pixel-font();
    font-size: 1.3rem;
}

.hack-font {
    font-family: "Hack", monospace;
    font-size: 1.1rem;
}


nav {
    display:flex;
    gap:10px;
    justify-content: center;
    background-color: rgb(225, 230, 237, 0.5);
    border-radius: 30px;
    padding: 20px;

    @media (max-width:903px) {
        flex-direction: column;
        align-items: center;
    }
    @media (max-width:490px) {
        text-align: center;

    }

}

.mode-button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;

    line-height: 40px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.mode-button:hover {
    background-color: #fff;
}
  
.mode-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
@media (min-width: 768px) {
.mode-button {
      min-width: 120px;
      padding: 0 25px;
    }
}

a {
    color:black;
    text-decoration: none;
}