.cmd-list {
    list-style: none;
    padding: 0;

    li {
        display:flex;
        flex-wrap:wrap;
        gap:6px;

        @media screen and (max-width:550px){
            margin-bottom:5px;
        }

        .help-title {
            font-weight:700
        }
    }
}

.welcome {

    font-size:0.75rem;

    @media screen and (max-width:640px) {
        font-size: 0.5rem;
    }
    
    @media screen and (max-width:355px) {
        font-size: 0.25rem;
    }
}

.link {
    color:lightblue
}

.about p {
    margin-top:20px;
    width:700px;

    @media screen and (max-width: 750px){
        width:400px;
    }
    @media screen and (max-width: 440px){
        width:300px;
    }    
}