.cmd-list {
    list-style: none;
    padding: 0;
}

.cmd-list-item::before {
    content: '♢';
}

.welcome {

    font-size:0.85rem;

    @media screen and (max-width:640px) {
        font-size: 0.5rem;
    }
    
    @media screen and (max-width:355px) {
        font-size: 0.25rem;
    }

   
}

.link {
    color:#fff
}