<ng-template #linkTemplate let-link="link">
    @if (link == resumePath){
        <a class="link" [href]="link" target="_blank">Link to resume (PDF)</a> 
    }
    @else {
        <a class="link" [href]="link" target="_blank">{{ link }}</a> 
    }
</ng-template>



<div class="response">
    @switch (command.text) {

        @case ('welcome') {
            <pre class="welcome">
 ______      _         _____      _        __            _ 
|  ____|    ( )       / ____|    | |      / _|          (_)
| |__   _ __ _  ___  | (___   ___| | __ _| |_ __ _ _ __  _ 
|  __| | '__| |/ __|  \___ \ / __| |/ _` |  _/ _` | '_ \| |
| |____| |  | | (__   ____) | (__| | (_| | || (_| | | | | |
|______|_|  |_|\___| |_____/ \___|_|\__,_|_| \__,_|_| |_|_|
            </pre>
            <br/>
            Welcome to my portfolio. Type 'help' see a list of commands. Cheers 🥂
        }
         
        @case ('hello'){
            <div class="hello">Hello! 👋 Welcome to my crib 😎</div>
        }

        @case ('help'){
            <ul class="cmd-list">
                @for ( cmd of helpCommands; track cmd) {
                    <li>
                        ♢<span class="help-title">{{ cmd['title'] }}</span>
                        -
                        <span class="help-text">{{ cmd['text'] }}</span>
                    </li>
                }
            </ul>
        }

        @case('about'){
            <div class="about">
                <p><a class="link" href="https://plato.stanford.edu/entries/computational-linguistics/" target="_blank">Computational linguistics</a> {{ about.general.p1 }}</p>
                <p> {{ about.research.p1 }} </p>
                <p> {{ about.research.pub.text }} <a class="link" target="_blank" href="{{about.research.pub.link}}">here</a></p> 
                
                
                @for (skill of about.skills.frontend; track skill){
                    
                }

            </div>
 
        }

        @case('projects'){

        }

        @case('contact'){

        }

        @case('resume'){
            Resume (<ng-container *ngTemplateOutlet="linkTemplate; context: {link:resumePath}"></ng-container>) 
        }

        @case('github'){
            Github (<ng-container *ngTemplateOutlet="linkTemplate; context: {link:links.github}"></ng-container>)
        }

        @case('linkedin'){
            Linkedin (<ng-container *ngTemplateOutlet="linkTemplate; context: {link:links.linkedin}"></ng-container>)
        }

        @case('repo'){
            Repo for this website (<ng-container *ngTemplateOutlet="linkTemplate; context: {link:links.repo}"></ng-container>)
        }

        @case('ericspasswords'){
            Nice try! I'm not falling for that one again! (<ng-container *ngTemplateOutlet="linkTemplate; context: {link:links.rickroll}"></ng-container>)
        }

        @case('funny'){
            Enjoy your funny video (<ng-container *ngTemplateOutlet="linkTemplate; context: {link:funnyVideoLink}"></ng-container>)
        }
    } 
</div>