<div class="response">
    @switch (command.text) {

        @case ('welcome') {
            <pre class="init-message">
 ______      _         _____      _        __            _ 
|  ____|    (_)       / ____|    | |      / _|          (_)
| |__   _ __ _  ___  | (___   ___| | __ _| |_ __ _ _ __  _ 
|  __| | '__| |/ __|  \___ \ / __| |/ _` |  _/ _` | '_ \| |
| |____| |  | | (__   ____) | (__| | (_| | || (_| | | | | |
|______|_|  |_|\___| |_____/ \___|_|\__,_|_| \__,_|_| |_|_|
            </pre>
            <br/>
            Welcome to my portfolio. Type 'help' see a list of all valid commands. Cheers 🥂
            
        }
        
        
        @case ('hello'){
            <div class="hello">Hello! 👋 Welcome to my crib 😎</div>
        }

        @case ('help'){
            <ul class="cmd-list">
                <li class="cmd-list-item">
                    help - see all valid commands
                </li>
            </ul>
        }

        @case('about'){
            
 
        }

        @case('projects'){

        }

        @case('contact'){

        }

        @case('resume'){

        }

        @case('github'){

        }

        @case('linkedin'){

        }

        @case('repo'){

        }

        @case('ericspasswords'){

        }

        @case('funny'){

        }
        
    } 
</div>