<div class="prompt-wrapper">
    <span class="prefix">visitor</span>
    <span class="symbol">{{ "@" }}</span>
    <span class="domain">my-portfolio</span>
    <span class="symbol">:</span>
    <span class="symbol">$</span>
    <span class="symbol tilde">~</span>
    @if (includeUserInput){
        <input
        [value]="promptValue"
        [ngClass]="currentClasses"
        (input)="onInput($event)"
        (keydown.enter)="refreshPrompt()"
        (keydown.ArrowUp)="cycleThroughCommandHistory($event)"
        (keydown.ArrowDown)="cycleThroughCommandHistory($event)"
        #input
        type="text"
        autocomplete="off"
        spellcheck="false"
        autofocus
        >
    }
    @else {
        <span [class]="submittedCommand.valid ? 'valid-command' : 'invalid-command'"> {{ submittedCommand.text }} </span>
    }
</div>