@import "../../../../styles.scss";
@import "http://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css";

$prefix-color: rgb(94, 129, 172);
$domain-color: rgb(163, 190, 140);
$symbol-color: rgb(136, 192, 208);


@mixin text-format() {
    font-size: 1.1rem;
    font-family: "Hack", monospace;
}

#prompt-wrapper {
    @include text-format();
    font-weight: 600;
}

input {
    background-color: $term-bg-color;
    border: none;
    @include text-format();

    &:focus {
        outline: none;
    }
}

.prefix {
    color: $prefix-color;
}
.domain {
    color: $domain-color;
}
.symbol {
    color: $symbol-color;
}
.tilde {
    margin: 0 7px 0 7px;
}

.valid-command {
    color: $term-valid-command-color;
}

.invalid-command {
    color:$term-input-color;
}