@import "../../../../styles.scss";
@import "../terminal-mode.scss";


input {
    @include text-format();
    background-color: $term-bg-color;
    border: none;
    width:65vw;
    overflow-x:auto;

    &:focus {
        outline: none;
    }
}