@import "../normal-mode.scss";

#home-wrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
    gap:10px;
    background-image: url("/assets/img/background.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

// ensures content takes the remaining available vertical space while also aligning to top
#content-wrapper {
    flex: 1; 
}

.home-button {
    max-height:40px;
}