@import "../normal-mode.scss";

#home-wrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    background-image: url("/assets/img/background.jpg"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.home-button {
    max-height:40px;
}


#footer {
    margin-bottom:10px;
}