@import '../../../styles.scss';

.nav-button {
    cursor: pointer;
    height:100px;
    width:230px;
    font-size:2rem;
    @include pixel-font();

    
    background:#7cc34d ;
    border: 0px;
    border-radius: 30px;
    position: relative;
    box-shadow: 
        inset -4px 2px 1px 1px grey,
        inset -4px -2px 1px 1px lightgray,
        inset 4px 0px 1px 1px lightgray, 
        6px 2px 1px 1px black   ;  

}

.nav-button:hover {
	background-color:#72b048;
    
}

.nav-button:active {
    top: 5px;
    box-shadow: 
      -4px 2px 1px 1px grey,
      -4px -2px 1px 1px lightgray,
      4px 0px 1px 1px lightgray; 
}

.card {
    @include pixel-font;
    text-align: center;
    line-height:1.5;
    font-size:1.3rem;
    width:30vw;
    border:ridge white 15px;
    border-radius:20px;
    background-color: rgb(225, 230, 237, 0.85);
    padding:5px;
}