@import "../terminal-mode.scss";


#terminal-wrapper {
    background-color: $term-bg-color;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
}

#inner-terminal {
    margin: 10px 15px 10px 15px;
    border:solid $term-border-color;
    border-radius: 6px;
    padding:30px;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    height:83vh;
    width:97vw;

}

.response-wrapper {
    @include text-format();
    color: $term-response-color;
}