@import "../../../../styles.scss";


#terminal-wrapper {
    background-color: $terminal-bg-color;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
}

#inner-terminal {
    margin: 10px 15px 10px 15px;
    border:solid lightblue;
    border-radius: 6px;
    padding:30px;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    height:85vh;
    width:97vw;

}