<div id="terminal-wrapper">
    <app-mode-selection/>
    <section id="inner-terminal">
        <section id="history">
            @for (resp of terminalResponses; track resp) {
                <div class="prompt-wrapper"> 
                    <span class="prefix">visitor</span>
                    <span class="symbol">{{ '@' }}</span>
                    <span class="domain">my-portfolio</span>
                    <span class="symbol">:</span>
                    <span class="symbol">$</span>
                    <span class="symbol tilde">~</span>
                    <span [class]="resp.valid ? 'valid-command' : 'invalid-command'">{{ resp.commandText }}</span>
                </div>

                <div class="response">
                    {{ resp.responseText }}
                </div>
            }
        </section>
        <app-prompt 
        [validCommands]="validCommands"
        [commandHistory]="commandHistory"
        (commandEmitter)="command = $event"
        (keydown.enter)="executeCommand()"
        />
    </section>
    <app-footer/>
</div>