<div id="terminal-wrapper">
    <app-mode-selection/>
    <section id="inner-terminal">
        <section id="history">

            @for (cmd of commandHistory; track cmd) {
                <app-prompt 
                [submittedCommand]="cmd"
                [includeUserInput]="false"
                />
                <div class="response">

                    @if (cmd.valid){
                        @switch (cmd.text) {
                            
                            @case ('hello'){
                                Hello!!! 👋
                            }
                        
                        } 
                    }
                    @else {
                        <div>Command not found: {{ cmd.text }}. Type 'help' to see a list of valid commands.</div>
                    }
                </div>
            }
        </section>
        <app-prompt 
        [validCommands]="validCommands"
        [commandHistory]="commandHistory"
        (commandEmitter)="command = $event"
        (keydown.enter)="executeCommand()"
        />
    </section>
    <app-footer/>
</div>