<div id="terminal-wrapper">
    <app-mode-selection/>
    <section id="inner-terminal">
        <section id="history">
            @for (resp of terminalResponses; track resp) {
                <div class="prompt-wrapper"> 
                    <div class="valid-command">response: {{ resp.commandText }}</div>
                        

                </div>
            }
        </section>
        <app-prompt 
        [validCommands]="validCommands"
        [commandHistory]="commandHistory"
        (commandEmitter)="command = $event"
        (keydown.enter)="executeCommandOnEnter()"
        />
    </section>
    <app-footer/>
</div>