@import '../../normal-mode.scss';

#about-page {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 2.5vw 4vw;

    @media screen and (max-width:$mobile){
        grid-template-columns:none
    }
}


.skills {
    display:flex;
    justify-content: center;
    gap:20px;

}

.skills-wrapper {
    display:flex;
    flex-direction: column;

}

ul {
    list-style: none;
    padding:0;
}


