@import '../../normal-mode.scss';

#about-page {
    display:flex;
    flex-direction: column;

}

.card-wrapper {
    display:flex;
    gap:10vw;
    margin-bottom:7vh;
}


.skills {
    display:flex;
    justify-content: center;
    gap:20px;

}

.skills-wrapper {
    display:flex;
    flex-direction: column;

}

ul {
    list-style: none;
    padding:0;
}


