footer {
    display:flex;
    gap:10px;
    background-color: rgb(225, 230, 237, 0.5);
    align-items: center;
    border-radius:15px;
    padding: 0 10px 0 10px;
    

    #bar {
        font-size: 20px;
        font-weight:700; 
    }

}